@tailwind base;
@tailwind components;
@tailwind utilities;

.before {
  position: relative;
}

.before::before {
  content: "1";
  position: absolute;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: -5px;
  right: -5px;
  height: 60%;
  width: 70%;
  background: red;
  border-radius: 10px;
}

.top {
  position: relative;
  z-index: 10000;
}
.top::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: rgb(241, 186, 2);
  top: -8px;
  border-radius: 50%;
  left: 40%;
  transform: translateX(-50%);
  z-index: 2;
}
.top::after {
  position: absolute;
  z-index: 2;
  content: "";
  height: 10px;
  width: 10px;
  background: rgb(241, 186, 2);
  top: -8px;
  border-radius: 50%;
  right: 10%;
  transform: translateX(-50%);
}
.imgbefore {
  position: relative;
  z-index: 1;
}
.imgbefore::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: rgb(35, 192, 35);
  outline: 2px solid white;
}

.profile-friend {
  display: flex;
  flex-wrap: wrap;
  
}
